# ⚙️ General
.DS_Store
Thumbs.db
*.log
*.lock
*.pid
*.gz
*.zip
*.tar
*.bak
*.swp

# ⚙️ Docker
docker-compose.override.yml
.env.docker
.env.override
*.tar
*.sql
*.dump

# 🔒 Entornos
/backend/.env*
/frontend/.env*
/wireguard-client/privatekey
/wireguard-client/publickey

# 🐘 Laravel (backend)
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.production.example
.env.local
.env.local.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
local.lms.com.conf
/bootstrap/cache/*
generate_bearer_token.php

# 🚀 Next.js (frontend)
frontend/.next/
frontend/node_modules/
frontend/dist/
frontend/.turbo/
frontend/build/
*.node

# 🧪 Coverage / test
coverage/
.nyc_output/
test-output/
.vitest/

# 🧠 IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
