/vendor
/node_modules
/.git
/.idea
/.vscode
.env
.env.*
*.log
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
bootstrap/cache/**
tests

node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.git
.gitignore
.DS_Store
